# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
env/
.venv/

# Django
db.sqlite3
/staticfiles/
media/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*.local

# Vercel
.vercel
